@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    user-select: none;
    -ms-user-select: none;
    outline: 0;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
    background-image: url(images/BackgroundResized.png);
}

 canvas {
  z-index: 0;
}

/* canvas, .Productions {
  position: absolute;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  left: 50%;
  top: 50%;
} */

.homePageButtons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.btn {
  
}
.about {
  border-style: none;
  text-decoration: none;
  color: white;
  font-family: Roboto;
  vertical-align: middle;
  font-size: large;
  background-color: transparent;
}

.productions {
  border-style: none;
  text-decoration: none;
  color: black;
  font-family: Roboto;
  vertical-align: middle;
  font-size: large;
}

.about {
  
}

/* .productions {
  overflow: hidden;
  z-index: 1;
  display: flex;
  justify-content: center;
  opacity: 1;
  border-color: white;
  transition-duration: 1s;
  font-size: larger;
  font-weight: 500;
  transition: transform 0.5s ease-in-out;
  align-items: center;
  text-align: center;
  background-color: white;
} */

@keyframes fadeInDown {
  100% {
    opacity: 0;
    /* transform: translateY(-20px); */
  }
  0% {
    opacity: 1;
    /* transform: translateY(0); */
  }
}

.productions:hover {
  animation-name: fadeInDown;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}

button {
  cursor: pointer;
}

.Buttons {
    width: 50%;
    height: 50%;
    vertical-align: middle;
}

h1 {
    text-align: center;
    font-family: 'Roboto', san-serif;
    color: white;
    font-weight: 300;
    vertical-align: middle;
}