@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    user-select: none;
    -ms-user-select: none;
    outline: 0;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    width: 100%;
    height: 100svh;
}

body {
  /* display: flex; */
  width: 100%;
  flex-direction: column;
  z-index: -1;
  min-height: 100svh;
  font-family: Roboto;
}

main {
  /* width: 100%; */
  height: 100svh;
  background-image: url(images/BackgroundResized.png); 
  background-repeat: no-repeat;
  /* background-size: 100%; */
  z-index: 0;
}



@keyframes moveDown {
  0% {
    opacity: 0%;
    background-position: center 0;
  }

  1% {
    opacity: 100%;
  }

  99% {
    opacity: 100%;
  }

  100% {
    background-position: center 1000%;
    color: transparent;
    opacity: 0;
  }
}

.BPRTSLogoBackground {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(images/Logo/BPRTS\ Logo.png);
  background-size: 1500px;
  background-repeat: repeat-y ;
  mix-blend-mode: overlay;
  animation: moveDown 60s linear infinite; /* Adjust time as needed */
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.waveForm {
  z-index: -1;
  width: 150px;
  height: 50px;
  /* left: 50%;
  top: 50%; */
  right: 0;
  position: absolute;
}

.waveForm, .homePageButtons button {
  border-radius: 10px;
}

.homePageButtons {
  position: absolute;
  display: inline;
  top: 75%;
  left: 33%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;

}

header ul li {
  list-style: none;
}

.about {
  flex: 1;
  margin-right: 25px;
}

.homePageButtons button { 
  font-family: Roboto;
  font-size: large;
  padding: 5px; 
  width: 150px;
  height: 50px;
  text-decoration: none;
}

.aboutButton {
  border-style: solid;
  border-color: white;
  color: white;
  background-color: transparent;
  position: relative;
  /* position: absolute; */
}

.productions {
  z-index: 1;
  border-style: none;
  color: black;
  background-color: white;
  /* position: absolute; */
}

@keyframes fadeInDown {
  100% {
    opacity: 0.1;
    color: transparent;
  }
  0% {
    opacity: 1;
  }
}

.productions:hover {
  animation-name: fadeInDown;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
  cursor: none;
}

button {
  cursor: pointer;
}

.Buttons {
    width: 50%;
    height: 50%;
    vertical-align: middle;
}

h1 {
    /* text-align: center; */
    font-family: 'Roboto', san-serif;
    color: white;
    font-weight: 300px;
    vertical-align: middle;
    /* font-size: 300px; */
}

h2 {
  font-family: 'Roboto', san-serif;
  color: white;
  font-weight: lighter;
  vertical-align: middle;
  /* font-size: 150px; */
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 75px;
  padding: 0;
  background-color: rgba(50, 50, 50, 0.1);
  backdrop-filter: blur(10px);
  transition: all .2s ease-in-out;
}

header:hover {
  width: 250px;
}

header:hover ul a{
  width: 200px;
  padding-right: 50px;
}



header:hover ul a p {
  opacity: 1;
  visibility: visible;
  transition: all .2s ease-in-out;
  margin-left: 25px;
}


nav ul li:hover a p:before {
  width: 100%
}

header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  width: 0;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  display: flex;
  align-items: center;
  vertical-align: middle;
  list-style-type: none;
}

nav ul a {
  position: relative;
  text-decoration: none;
}

.contact img {
  max-height: 75px;
}

ul a p {
  position: absolute;
  top: 25%;
  left: 25%;
  font-size: 18;
  line-height: 38px;
  font-weight: 300;
  white-space: nowrap;
  color: white;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2 ease-in-out;
  mix-blend-mode: difference;
}

nav ul a p::before {
  content: '';
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 0;
  color: #fff;
}


ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  transition: transform 0.25s;
  transform-origin: 0 0;
  transform: scaleX(0);
}

ul li a:hover::before {
  transform: scaleX(1);
}

nav ul li a {
  display: inline-block;
  vertical-align: middle;
  display: flex;
  gap: 25px;
}

ul li a:hover .scroller{
  opacity: 1;
}

.tag-list {
  margin: 0;
  display: flex;
  padding-inline: 0;
  gap: 1rem;
  list-style: none;
  flex-wrap: wrap;
}

.tag-list li {
  color: black;  
  /* background-color: hsla(0, 0%, 0%, 0.103); */
  border-radius: 0.5rem;
  mix-blend-mode: difference;
  text-align: center;
  /* font-weight: 5000; */
}

@keyframes scroll {
  to {
    transform: translate(calc(-200% + 9px));
  }
}

.navigation nav, .contact{
  left: 0px;
}

nav ul {
  list-style-type: none;

}

nav img, .contact {
  max-height: 75px;
}


.homeNavButton img {
  position: absolute;
  top: 10px;
  max-width: 100%;
  scale: 75%;
  left: 0px;
}

.contact {
  position: fixed;
  bottom: 10px;
}

.subjects img, .contact img{
  display: block;
  scale: 40%;
  /* padding-top: 10px; */
  align-content: center;
  max-width: 100%;
  mix-blend-mode: difference;
}

.mePictures img {
  position: absolute;

}

.introduction {
  position: absolute;
  font-size: medium;
  left: 25%;
  bottom: 33%;
  /* transform: scale(0.50);   */
}

.introduction h1 {
  font-size: 75px;
  margin-bottom: 25px;
}

.introduction h2 {
  font-size: 50px;
}

.introduction img {
  display: none;
  position: absolute;
}

.introduction div {
  max-width: 300px;
}

.mobile-nav-toggle {
  display: none;
}


.me {
  /* transform: translate(2048px, -500px); */
  z-index: 1;
  bottom: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  transform-origin: bottom right;
  transform: scale(0.75);
  filter: contrast(0.95);
}

.meShadow {
  transform: translate(1800px, -450px);
  z-index: 0;
  bottom: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  transform-origin: bottom right;
  transform: scale(0.8);
}

.copyright p {
  position: absolute;
  bottom: 0;
  font-size: 70%;
  font-weight: 100;
  opacity: 25%;
  left: 0px;
  color: white;
}

@media (max-width: 35em) {
  .mePictures {
    display: none;
  }

  .introduction {
    left: 25px;
    top: 50px;
  }

  .introduction img{
    display: block;
    position: relative;
    left: 0px;
    max-width: 200px;
    padding-bottom: 50px;
  }

  header {
    position: fixed;
    top: 0;
    right: 0;
    left: auto;
    z-index: 1000;
    backdrop-filter: none;
    background-color: transparent;
    pointer-events: none;
  }

  header nav {
    position: absolute;
    right: 0;
    left: auto;
    width: 250px;
  }

  header ul, header button {
    pointer-events: auto;
  }

  .contact {
    position: relative;
  }

  .copyright {
    display: none;
  }

  header:hover {
    width: 100%;
    background-color: rgba(31, 31, 31, 0.712);
    backdrop-filter: blur(10px) grayscale(50%);
  }

  .BPRTSLogoBackground {
    display: none;
  }

  .homePageButtons {
    left: 190px;
    top: 600px;
  }

  .introduction h1 {
    font-size: 65px;
    margin-bottom: 25px;
  }
  
  .introduction h2 {
    font-size: 40px;
  }

  .homeNavButton {
    display: none;
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    top: 50px;
    background: url(images/Icons/Nav/icons8-hamburger-100.png);
    background-size: 2rem;
    background-repeat: no-repeat;
    border: 0;
    width: 2rem;
    aspect-ratio: 1;
    z-index: 1001;
  }

  header button {
    transform: rotate(0deg);
    transition: rotate 350ms ease-in;
  }

  .primary-navigation[data-visible="false"] {
    transform: translateX(100%);
    transition: transform 350ms ease-in;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0);
    transition: transform 350ms ease-in;
  }
}